<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%=acc.username%></title>
</head>
<body>
    <h1>Welcome <%=acc.username%></h1>
    <br>
    <h3>Username : <%=acc.username%></h3>
    <h4>Content : <%=acc.content%></h4>
    <br><br>
    <img src="/uploads/<%= acc.image %>" width="200">
</body>
</html>